/*Contacto*/
@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@400;500;600;700&display=swap');

* {
  padding: 0;
  margin: 0;
  text-decoration: none !important;
  box-sizing: border-box;
  font-family: Heebo;
}

@font-face {
  font-family: BlackboardRestaurant ;
  src: url(../font/BlackboardRestaurant.otf);
}

.contacto{
  color: black;
  padding-top: 50px;
  width: 100%;
  margin: 0 auto;
  display: inline-block;
  justify-content: center;
}

.contactoContainer{
  display: flex;
  justify-content:space-around;
  padding: 0 20px;
  width: 100%;
  margin: 0 5%;
  padding-bottom: 100px;
  margin: 0 auto;
}
  
.formulario {
  margin: 10% 0;
  max-width: 420px;
  min-height: 540px;
  background: #AEDFDE;
  padding: 25px;
  border-radius: 10px;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.57);
  z-index: 40;
}

.colors {
  text-align: center;
  color: #000;
  font-size: 32px;
  font-family: Heebo;
  font-weight: bold;
  line-height: 47px;
}
  
.ingresar {
  padding: 10px;
  font-size: 16px;
  font-weight: 700 !important;
  color: #fff;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.57);
  transition: 0.5s ease-in;
}
  
.ingresar:hover {
  color: #aedfde;
}
  
.buttons{
  cursor: pointer;
  width: 100%;
  background: #F15953;
  border: none;
  border-radius: 10px;
}
  
.comentario {
  max-width: 100%;
  max-height: 100px;
  border: 1px solid #F15953;
  margin-bottom: 15px;
  padding: 2px 10px;
  background: #f3f3f3;
  border-radius: 15px;
}

.form-group p{
  font-size: 14px;
  padding: 0;
  margin: 0;
  color:#F15953;
  font-weight: bold;
}

.input-grp {
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
}

.input-grp label {
  flex: 1;
}
 
.input-box {
  display: flex;
}
 
.input-box input,
.input-box select {
  flex: 1;
  border: none;
  padding: 6px;
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
}

.input-box .fas {
  flex: 0 0 24px;
  text-align: center;
  line-height: 24px;  
  background: white;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
  padding-top: 5px;
}

.input-box.lineal input {
  flex: 0 0 24px;
}

.input-box.lineal .fas {
  background: transparent;
}

.input-error {
  margin: 2px;
  color: rgb(218, 30, 30);
}

.fa-check-circle {
  color: rgb(69, 171, 22);
}

.fa-times-circle {
  color: rgb(218, 30, 30);
}

.submit-grp {
  text-align: center;
  padding: 1rem;
}

.with-error input{  
  border: 2px solid rgb(218, 30, 30)!important;
  border-right: none!important;
}

.with-error .fas:not(.except) {
  border: 2px solid rgb(218, 30, 30)!important;
  border-left: none!important;
}

.hidden { 
  display: none!important;
}

.successfulDelivery,
.errorDelivery{
font-size: 18;
padding-top: 10px;
padding-bottom: 0;
text-align: center;
font-weight: bold;
color: #F15953;
} 

.contactoBebe{
position: relative;
}

.bebeImgContacto{
position: absolute;
top: 300px;
left: -195px;
}

.bebeImgContacto img{
width: 380px;
}

.datosContacto{
margin: 10% 0;
max-width: 420px;
height: 540px;
background: #AEDFDE;
padding: 25px;
border-radius: 10px;
box-shadow: 0 0 30px rgba(0, 0, 0, 0.57);
}

.datosContacto h1{
  text-align: center;
}

.datosContacto div p{
  margin: 0;
}

.mapsContainer{
  padding-top: 20px;
}

.mapsGoogle {
  border-radius: 10px;
  width: 100%;
  height: 100%;
}

.contactarte{
  margin-right: 0px !important;
}

.contactanos{
  margin-left: 0px !important;
}

.preguntasImgInicio{
  display: none;
}

.preguntasFrecuentes{
  background: #7BBA44;
  display: flex;
}

.preguntasFrecuentes h1{
  width: 90%;
  margin: 0 auto;
  padding: 20px;;
  font-family: BlackboardRestaurant;
  color: #fff;
  font-size: 40px;
}

.preguntas{
  padding: 60px 0 10px;
  margin: 0 auto;
  width: 90%;
  display: grid;
  grid-template-columns: 2fr 1fr;
  height: 100%;
}

.listasPreguntas{
  list-style-type:circle;
}

.listasPreguntas li{
  font-family: BlackboardRestaurant;
  font-size: 40px;
  font-weight: bold;
  line-height: 35px;
  padding: 15px 0;
}

.listasPreguntas p{
  font-family: Heebo;
  font-size: 24px;
  font-weight: 400;
  line-height: 35px;
}

  .preguntasImg{
    height: 100%;
  }
  
  .preguntasImg
  img{
    position: sticky;
    top: 120px;
    padding-top: 120px;
    max-width: 300px;
    display: flex;
    margin: 0 auto;
  }

.opiniones{
  display: block;
}

.opiniones div{
  margin: 0 auto;
}

.opinionesPadres{
  background: #3b5998;
  text-align: center;
}

.opinionesPadres h1{
  color: #fff;
  
}

@media (max-width: 1590px) {  
  .bebeImgContacto{
    position: absolute;
    top: 320px;
    left: -165px;
    z-index: 41;
  }

  .bebeImgContacto img{
    width: 280px;
  }
  
}

@media (max-width: 1250px ) {
  .contactoContainer{
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 100px;
    width: 100%;
    height: 100%;
    padding-bottom: 500px;
  }      
      
  .datosContacto{
    margin: 10% 0;
    max-width: 420px;
    max-height: 540px;
    background: #AEDFDE;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.57);
  }

  .contactoBebe{
    margin-top: 30px;
  }

  .bebeImgContacto{
    position: relative;
    top: 90px;
    left: 80px;
  }

  .contactarte{
    margin: 0 auto!important; 
    margin: 0;
    padding: 0; 
    max-width: 420px;
    margin-top: 50px;
    max-height: 540px;
  }

  .contactanos{
    margin: 0 auto!important;   
    margin: 0;
    padding: 0; 
    max-width: 420px;
    margin-bottom: 50px;
    max-height: 540px;
  }
}

@media (max-width: 1024px) {     
  .preguntas{
    padding: 30px 0;    
    width: 90%;
    height: 100%; 
    display: grid;
    grid-template-columns: 6fr 1fr;
    margin-bottom: 50px;
  }

  .preguntasImg img{
    padding-top: 150px;
    width: 200px;
    display: flex;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
  }  
}
    
@media (max-width: 650px) {
  .contactoContainer{
      padding-bottom: 400px;
  }
  
  .bebeImgContacto{
    position: relative;
    top: 100px;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .preguntas{
    grid-template-columns: 1fr;
    max-height:  100%;
  }

  .preguntasImgInicio{
      display: block;
  } 

  .preguntasImgInicio img{
    padding-top: 30px;
    width: 200px;
    display: flex;
    margin: 0 auto;
    align-items: center;
    justify-content: center;  
  }

  .preguntasImg {
    display: none
  }

  .preguntasImg img{
    position: relative;
    padding-top: 0;
  }
} 