@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");

* {
  padding: 0;
  margin: 0;
  text-decoration: none !important;
  list-style-type: none;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

body {
  width: 100%;
  min-height: 100vh;
}

nav {
  background: #fff;
  height: 130px;
  margin: 0 auto;
  width: 95%;
}

nav ul {
  float: right;
  margin-right: 20px;
  height: 120px;
  margin: 0;
  padding: 0 5% 0;
}

nav ul li {
  padding-top: 15px;
  display: inline-block;
  line-height: 100px;
  margin: 0 5px;
}

nav ul li a {
  color: #000;
  font-size: 1.2rem;
  font-weight: bold;
  padding: 7px 13px;
  border-radius: 3px;
}

nav ul li a:hover {
  background: #fff;
  transition: .5s;
}

.enlace {
  position: absolute;
  padding: 20px 50px;
}

.logo {
  height: 100px;
  cursor: pointer;
}

.actives {
  background: #a7eae4;
  transition: .5s;
}

.checkbtn {
  padding-top: 15px;
  color: #000;
  cursor: pointer;
  font-size: 30px;
  float: right;
  line-height: 80px;
  margin-right: 40px;
  display: none;
}

#check {
  display: none;
}

.main{
  width: 90%;
  z-index: -1;
  margin: 0 auto;
  margin-top: 5%;
}

.textIndex{
  margin: 20px;
  display: flex;
  justify-content: flex-end;
}

.textFrase{
  text-align: center;
  font-family: Blackboard Restaurant;
  font-weight: 300;
  font-size: 40px;
  line-height: 46px;
  color: #F15953;
}

h1{
  height: 55vh;
  text-align: center;
  font-weight: bold;
}

.btn-wsp {
  position: fixed;
  width: 45px;
  height: 45px;
  line-height: 60px;
  bottom: 30px;
  right: 30px;
  background: #00BB2D;
  color: #fff;
  border-radius: 50%;
  text-align: center;
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.3);
  z-index: 100;
}

.btn-wsp:hover {
  color: #00BB2D;
  background: #fff;
}

header a .fab {
  font-size: 35px;
}

.footerContainer {
  width: 100%;
  padding: 10px 0;
  background-color:  #D3D5DB;
  text-align: center;
   color: #fff;
}

.footer{
  display: flex;
  justify-content: center;
}

.logo-footer{
  width: 400px
}

.footerNavegacion {
  display:flex;
  justify-content: space-around;
}

.footerNavegacion ul{
margin: 0;
padding-top: 20px;
text-align: left;
}

.footerNavegacion ul li {
  width: 100%;
  display: block;
  padding: 0 15px;
}

.footerNavegacion ul li a {
  margin-top: 20px;
  padding: 0;
  list-style: none;
  font-size: 1.2rem;
  line-height: 1.6;
  text-align: center;
  color: #fff;
  opacity: 0.8;
}

.footerNavegacion ul li a:hover {
  opacity: 1;
  font-weight: bold;
}

.footerNavegacion ul li p {
  font-size: 1.2rem;
  color: #fff;
  margin: 0;
}

.img-canales{
  width: 25px;
}

.copyright {
  margin-top: 1rem;
  text-align: center;
  font-size: 13px;
  color: #aaa;
  text-align: center;
}

.gracias {
  height: 60vh;
}

@media (max-width: 1024px) {
  .enlace {
    padding-left: 20px;
  }
  nav ul li a {
    font-size: 16px;
  }
  .footerNavegacion ul li a {
    font-size: 1.2rem;
  }
  .textFrase{
  text-align: center;
  font-family: Blackboard Restaurant;
  font-weight: 300;
  font-size: 30px;
  line-height: 46px;
  color: #F15953;
}
}

@media (max-width: 850px) {
  .checkbtn {
    display: block;
  }
  nav ul {
    position: absolute;
    width: 100%;
    height: 100vh;
    background: #f1f1f1;
    top: 120px;
    left: -100%;
    text-align: center;
    transition: all .5s;
    z-index: 100;
  }
  nav ul li {
    display: block;
    margin: 50px 0;
    line-height: 30px;
    text-align: center;
  }
  nav ul li a {
    font-size: 20px;
    color: #000;
  }
  nav ul li a:hover {
    background: none;
    color: #fff;
  }
 
  .active {
    background: none;
    color: #fff;
  }
  #check:checked ~ ul {
    left: 0;
  }
  .footer{
    display: block;
    padding: 0 15px;
  }
  .footerNavegacion{
    display: block;
    padding: 0 15px;
  }
  .footerNavegacion ul{
   text-align: center;   
  }

}
