@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@400;500;600;700&display=swap');

* {
  padding: 0;
  margin: 0;
  text-decoration: none !important;
  box-sizing: border-box;
  font-family: Heebo;
  scroll-behavior: smooth;
}

@font-face {
  font-family: BlackboardRestaurant ;
  src: url(../font/BlackboardRestaurant.otf);
}

body {
  width: 100%;
  min-height: 100vh;
}
/*NAVBAR*/

.navItem{
  list-style: none;
  padding-top: 15px;
  display: inline-block;
  line-height: 100px;
  margin: 0 5px;
}

.navLink{
  color: #000;
  font-size: 1.2rem;
  font-weight: bold;
  padding: 7px 13px;
  border-radius: 3px;
}

.navBar {
  min-height: 100px;
  background-color: #fff;
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0;
  width: 100vw;
  z-index: 100;
}

.navMenu{
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 20px;
  padding: 0 100px 0 0;
}

.navBranding{
  padding: 20px 0 20px 100px;
}

.logo {
  height: 100px;
  cursor: pointer;
}


.navLink {
  transition: 0.7s ease; 
}

.navLink:hover {
  border-radius: 15px;
  color: #F15953;
  transition: .5s;
}

.hamburger{
  display: none;
  cursor: pointer;
  padding: 0 50px;
}

.bar{
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #000;
}

.actives {
  border-radius: 15px;
  background: #a7eae4;
  transition: all 0.5s ease;
  font-weight: bold;
}


/*BOTON WHATSAPPS*/
.btn-wsp {
  position: fixed;
  width: 45px;
  height: 45px;
  line-height: 60px;
  bottom: 30px;
  right: 30px;
  background: #00BB2D;
  color: #fff;
  border-radius: 50%;
  text-align: center;
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.3);
  z-index: 100;
}

.btn-wsp:hover {
  color: #00BB2D;
  background: #fff;
}

header a .fab {
  font-size: 35px;
}
/*iNDEX*/
main{
  padding-top: 10px;
  display: block;
  width: 100%;
  z-index: -1;
  margin: 0 auto;
}

.index{
  padding-top: 150px;
  margin: 0 auto;
  width: 90%;
  margin-top: 100px;
}

.container-slider{
  width: 90%;
  max-width: 1024px;
  margin: auto;
  overflow: hidden;
  box-shadow: 0 10px 30px #000;
  position: relative;   
  border-radius: 20px;         
}

.slider{
  display: flex;
  width: 300%;
  max-height: 610px;
}

.slider__section{
  width: 100%;
}

.slider__img{
  display: flex;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.slider__btn{
  text-align: center;
  font-weight: bold;
  font-size: 30px;
  width: 70px;
  line-height: 70px;
  border-radius: 50%;
  position: absolute;
  color: #fff;
  box-shadow: 0 0 10px rgba(255, 255, 255, .6);
  background-color: #AEDFDE;
  opacity: 0.8;
}

.slider__btn:hover {
  cursor: pointer;
  transform: scale(1.2, 1.2);
  color: #fff;
  opacity: 1;
}

.letf{
  left: 1%;
  top: calc(50% - 40px)
}

.rigth{
  right: 1%;
  top: calc(50% - 40px);
}

.textIndex{
  margin: 20px;
  display: flex;
  justify-content: flex-end;
}

.textFrase{
  text-align: center;
  margin: 20px;
  padding-right: 20%;
  font-family: BlackboardRestaurant;
  font-weight: 300;
  font-size: 40px;
  line-height: 46px;
  color: #F15953;
}

/*FOOTER*/
.footerContainer {
  width: 100%;
  padding: 10px 0;
  background-color:  #D3D5DB;
  text-align: center;
  color: #000;
}

.footer{
  display: flex;
  justify-content: center;
}

.logoFooterContainer{
  text-align: center;
}

.logo-footer{
  max-width: 400px;
}

.footerNavegacion {
  display:block;
}

.footerNavegacion ul{
  list-style-type: none;
  margin: 0;
 
  margin-bottom: 20px;
  text-align: center;
}

.footerNavegacion ul li {
  width: 100%;
  padding: 0 15px;
}

.footerNavegacion ul li a {
  margin-top: 20px;
  padding: 0;
  list-style: none;
  font-size: 24px;
  line-height: 35px;
  font-weight: 400;
  color: #000;
  opacity: 0.9;
}

.footerNavegacion ul li a:hover {
  color: #F15953;
  opacity: 1;
}

.nuestrosCanales{
  margin-left: 30px;
  opacity: 0.9;
}

.nuestrosCanalesContacto{
  opacity: 0.9;
  padding-bottom: 20px;
}

.nuestrosCanales h2,
.nuestrosCanalesContacto h2{
  text-align: center;
  margin: 0;
  padding: 15PX 0;
  font-size: 24px;
  font-weight: 400;
  line-height: 35px;
}

.redes{
  list-style-type: none;
  display: flex; 
  justify-content: center; 
  gap: 10px;
  opacity: 1;
  margin: 0;
  padding: 0;
}

.img-canales{
  width: 30px;
}

.img-canales:hover{
  width: 35px;
}

.footer-copyright{
  margin: 0;
  padding: 0;
}

.copyright {
  margin: 5px;
  text-align: center;
  font-size: 10px;
  color: #aaa;
  text-align: center;
}

.gracias {
  height: 60vh;
}

@media (max-width: 1590px) {
  .textFrase{
    padding-right: 12%;
  }
  
}

@media (max-width: 1250px ) {
  .navBranding {
    padding-left: 100px;
  }
 
  .textFrase{
    padding-right: 4%;
  }
}

@media (max-width: 1024px) {
  .hamburger{
    display: block;
  }

  .hamburger.active .bar:nth-child(2){
    opacity: 0;
  } 

  .hamburger.active .bar:nth-child(1){
    transform: translateY(8px) rotate(45deg);
  } 

  .hamburger.active .bar:nth-child(3){
    transform: translateY(-8px) rotate(-45deg);
  } 

  .navMenu{
    position: fixed;
    left: -100%;
    top: 140px;
    gap: 0;
    flex-direction: column;
    background-color: #AEDFDE;
    width: 100%;
    text-align: center;
    transition: 0.3s;
    padding: 0;
    margin: 0;
  }

  .navItem{
    margin: 0;
    padding: 0;
  }

  .navLink{
    padding: 0;
  }

  .navMenu.active{
    left: 0 !important;
  }
 
  .actives {
    color: #F15953;
    background: none;
  }


  .index{
    margin-top: 50px;
  }

  .footerNavegacion ul li a {
    font-size: 1.2rem;
  }
}

@media (max-width: 850px) {
  .index{
    margin-top: 30px;
  }

  .textFrase{
    font-size: 30px;
  }

  .footer{
    display: block;
    padding: 0 15px;
  }
  .footerNavegacion{
    display: block;
    padding: 0 15px;
  }
  .footerNavegacion ul{
   text-align: center;   
  }
}

@media (max-width: 650px) {
   .textFrase{
    font-size: 25px;
  }
}

@media (max-width: 420px) {
  .logo-footer{
    width: 100%;
  }

  .slider__btn{
    font-size: 21px;
    width: 49px;
    line-height: 49px;
  }

  .letf{
    top: calc(50% - 28px)
  }
  
  .rigth{
    top: calc(50% - 28px);
  }
}
